.buttonDiv {
  text-align: right;
}
.buttonDiv button {
  background: none;
}
.friend-row {
  align-items: center;
}
.btn:focus {
  box-shadow: none;
}

.subscript {
  font-size: 12px;
  font-weight: 500;
  color: #afaaaa;
}
