.mainDiv {
  padding: 0;
  border: 1px solid;
}
.mainDiv input {
  border-width: 0 0 1px 0;
}

.friend-row {
  border-bottom: 1px solid;
  padding: 0;
  margin: 0;
  height: 10vh;
  font-weight: 700;
}

input:focus {
  outline: 0 !important;
}
.btn-search {
  padding-left: 0;
  padding-right: 0;
  border-width: 0 1px 1px 1px;
  cursor: pointer;
}

.btn-sort {
  padding-left: 0;
  padding-right: 0;
  border-width: 0 0px 1px 0px;
  cursor: pointer;
}

.head-div {
  font-weight: 500;
  font-size: 20px;
  height: 5vh;
  background: #dedede;
}
